html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:focus {
  border-color: transparent;
  outline-color: transparent;
}

:root {
  /* ===== fonts ===== */
  --first-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  /* ===== fonts color ===== */
  --primary-text-color: #757575;
  --accent-text-color: #2196f3;
  --headers-text-color: #212121;
  --button-text-color-one: #fff;
  --mission-label-text: #fff;
  --footer-titles-color: #fff;
  --portfolio-overlay-text-color: #fff;
  /* ===== BG colors ===== */
  --background-body: #fff;
  --background-section-one: #fff;
  --background-section-two: #f5f4fa;
  --background-color-hero: #c4c4c4;
  --background-footer: #2f303a;
  --background-hero-modal: #ffffff;
  /* ===== hero & footer button colors ===== */
  --button-background-color: #2196f3;
  --button-hover-color: #188ce8;
  --button-active-color: #188ce8;
  --modal-close-btn-color: #ffffff;
  /* ===== logo color ===== */
  --logo-color-one: #2196f3;
  --logo-color-two: #000000;
  --logo-color-three: #fff;
  /* ===== hero gradient colors ===== */
  --hero-gradient-color-one: rgba(47, 48, 58, 0.4);
  --hero-gradient-color-two: rgba(47, 48, 58, 0.4);
  /* ===== fil svg icons color ===== */
  --fill-svg-icons: #afb1b8;
  --fill-footer-socials: #fff;
  /* ===== transition propertys ===== */
  --time-transition: 250ms;
  --function-transition: cubic-bezier(0.4, 0, 0.2, 1);
  --delay-transition: 100ms;
  --transition-standart: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* ===== other ===== */
  --zindex-header: 500;
  --zind-hero-modal: 1000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid green;
  outline-offset: -2 px; */
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--background-body);
}

.btn {
  display: block;
  font-family: inherit;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--headers-text-color);
  text-align: center;
  margin-bottom: 50px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: "Raleway", cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 94px;
}

.logo__text-one {
  color: var(--logo-color-one);
}

.logo__text-two {
  color: var(--logo-color-two);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list .nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--headers-text-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--time-transition);
          transition-duration: var(--time-transition);
  -webkit-transition-timing-function: var(--function-transition);
          transition-timing-function: var(--function-transition);
}
.nav__link.current::after, .nav__link:hover::after, .nav__link:focus::after {
  opacity: 1;
}
.nav__link.current {
  color: var(--accent-text-color);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-text-color);
}
.nav__link::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background: var(--accent-text-color);
  border-radius: 2px;
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: var(--time-transition);
          transition-duration: var(--time-transition);
  -webkit-transition-timing-function: var(--function-transition);
          transition-timing-function: var(--function-transition);
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__list .contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--time-transition);
          transition-duration: var(--time-transition);
  -webkit-transition-timing-function: var(--function-transition);
          transition-timing-function: var(--function-transition);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-text-color);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  width: 1600px;
  height: 600px;
  background-color: var(--background-color-hero);
  text-align: center;
  padding: 200px 0;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hero--overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--hero-gradient-color-one)), to(var(--hero-gradient-color-two))), url(../images/hero.jpg);
  background-image: linear-gradient(to right, var(--hero-gradient-color-one), var(--hero-gradient-color-two)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero__button {
  display: inline-block;
  min-width: 216px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.05em;
  color: var(--background-section-one);
  background-color: var(--button-background-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--time-transition);
          transition-duration: var(--time-transition);
  -webkit-transition-timing-function: var(--function-transition);
          transition-timing-function: var(--function-transition);
}
.hero__button:active {
  background-color: var(--button-active-color);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--button-hover-color);
}/*# sourceMappingURL=main.css.map */