/* ====== HEADER ====== */

/* = header logo = */

/* = header navigation = */

/* ===== header__contacts ===== */

/* ===== MAIN ===== */

/* = hero = */

/* = benefits = */

.benefits {
  display: flex;
  flex-wrap: wrap;
}

.benefits__item {
  display: block;
  width: calc((100% - 90px) / 4);

  margin: 0;
}

.benefits__item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.benefits__link {
  width: 270px;
  height: 120px;
  background-color: var(--background-section-two);
  border-radius: 4px;

  margin-bottom: 30px;
}

.benefits__link--flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits__tagline {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--headers-text-color);

  margin-bottom: 10px;
}

.benefits__features {
  line-height: 1.71;
  color: var(--primary-text-color);
}

/* = mission = */

.mission-section {
  padding-top: 0;
}

.mission {
  display: flex;
  flex-wrap: wrap;
}

.mission__item {
  display: block;
  width: calc((100% - 60px) / 3);
}

.mission__item--position {
  position: relative;
}

.mission__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.mission__label {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;

  color: var(--mission-label-text);
  background: rgba(47, 48, 58, 0.8);
}

/* ===== team ===== */

.team-section {
  background-color: var(--background-section-two);
}

.team {
  display: flex;
  flex-wrap: wrap;
}

.team__item {
  display: inline-block;
  width: calc((100% - 90px) / 4);
}

.team__item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.team__item--border-bg-shadow {
  background-color: var(--background-section-one);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__img {
  margin-bottom: 30px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: var(--headers-text-color);

  text-align: center;

  margin-bottom: 10px;
}

.team__profession {
  font-size: 16px;
  line-height: 19px;

  text-align: center;

  color: var(--primary-text-color);
  margin-bottom: 16px;
}

/* === team soc netw === */

.soc-networks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.soc-networks {
  margin-bottom: 30px;
}

.soc-networks__item:not(:last-child) {
  margin-right: 10px;
}

.soc-networks__link {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  color: var(--fill-svg-icons);

  border-radius: 50%;

  transition-property: background-color, color;
  transition-duration: var(--time-transition);
  transition-timing-function: var(--function-transition);
}

.soc-networks__img {
  fill: currentColor;
}

.soc-networks__link:hover,
.soc-networks__link:focus {
  background-color: var(--accent-text-color);
  color: #fff;
}

/* ===== clients section ===== */

.clients__list {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;

  color: var(--fill-svg-icons);

  border: 1px solid currentColor;
  border-radius: 4px;

  transition-property: color;
  transition-duration: var(--time-transition);
  transition-timing-function: var(--function-transition);
}

.clients__link:hover,
.clients__link:focus {
  color: var(--accent-text-color);
  border-color: var(--accent-text-color);
}

.clients__logo {
  fill: currentColor;
}

/* ========== FOOTER ==========*/

/* ===== footer ===== */
.footer {
  background-color: var(--background-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer--flex {
  display: flex;
  align-items: baseline;
}

/* = footer logo = */

.logo__text-two--white {
  color: var(--logo-color-three);
}

/* .footer-part-one,
.footer-part-two,
.footer__subscribe {
  display: block;
} */

/* = footer__address = */

.footer__address {
  width: 231px;

  font-style: normal;
  margin-top: 20px;

  margin-right: 70px;
}

.address__map {
  line-height: 1.71;
  color: #ffffff;
}

.address__email,
.address__tel {
  line-height: 1.71;

  color: rgba(255, 255, 255, 0.6);
}

.footer__address .address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__map:hover,
.address__map:focus {
  color: #2196f3;
}

.address__email:hover,
.address__tel:hover,
.address__email:focus,
.address__tel:focus {
  color: #ffffff;
}

.address__map,
.address__email,
.address__tel {
  transition-property: color;
  transition-duration: var(--time-transition);
  transition-timing-function: var(--function-transition);
}

/* = footer__soc-networks = */

.footer__soc-networks {
  width: 206px;
}

.soc-networks__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--footer-titles-color);

  margin-bottom: 20px;
}

.soc-networks__link--background {
  background: rgba(255, 255, 255, 0.1);
}

.soc-networks__img--fill {
  fill: var(--fill-footer-socials);
}

/* === footer__subscribe === */

.footer__subscribe {
  margin-left: auto;
}

.subscribe__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--footer-titles-color);

  margin-bottom: 20px;
}

.footer-email-input {
  display: flex;
}

.footer-form-field-input {
  position: relative;
  overflow: hidden;
}

.footer-form-input {
  display: flex;
  align-items: center;

  width: 358px;
  height: 50px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);

  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 0;
  padding-left: 12px;

  margin-right: 12px;

  transition-property: border-color background-color;
  transition-duration: var(--time-transition);
  transition-timing-function: var(--function-transition);
}

.footer-form-label {
  position: absolute;

  top: 50%;
  left: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);

  transform: translate(0, -50%);

  /* поднимает footer-form-label и не опускает если показывает значение placeholder */
}

.footer-form-input:focus + .footer-form-label,
.footer-form-input:not(:placeholder-shown) + .footer-form-label {
  transform: translate(0, -50px);
}

.footer-form-input:hover + .footer-form-label {
  color: #757575;
}

.footer-form-input:hover {
  /* border-color: #fff; */

  animation-name: changeBgColor;
  animation-duration: 250ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  /* animation-direction: alternate;  */

  background-color: #fff;
}

.footer-form-input:focus {
  background-color: #fff;
  outline: transparent;
  color: #000000;
}

.footer-button-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--button-text-color-one);

  background: var(--button-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition-property: background-color;
  transition-duration: var(--time-transition);
  transition-timing-function: var(--function-transition);
}

.footer-button-subscribe:active {
  background-color: var(--button-active-color);
}

.footer-button-subscribe:hover,
.footer-button-subscribe:focus {
  background-color: var(--button-hover-color);
}

/* === ANIMATION FOOTER === */

@keyframes changeBgColor {
  0% {
    border-color: rgba(255, 255, 255, 0.3);
  }

  50% {
    border-color: var(--accent-text-color);
  }

  100% {
    border-color: rgba(255, 255, 255, 0.3);
  }
}

/* ===== MODAL WINDOW ===== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  /* backdrop-filter: blur(2px);   свойство блюр*/

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition-property: opacity, visibility;
  transition-duration: var(--time-transition);
  transition-timing-function: var(--function-transition);
}

.modal {
  position: absolute;

  /* === центровка модального окна ===  */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);

  z-index: var(--zind-hero-modal);

  width: 528px;
  height: 581px;

  padding: 40px 40px;

  background: var(--background-hero-modal);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 4px;

  transition-property: transform, scale;
  transition: var(--transition-standart), var(--transition-standart);

  /* transform-origin: center; */
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0.1);
}

/* === close button === */

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  padding: 0;

  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;

  transition: var(--transition-standart);
}

.modal-close-btn:hover {
  fill: #2196f3;
}

/* --- inputs --- */

.modal-window-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--headers-text-color);

  margin-bottom: 12px;
}

.form-group-one {
  margin-bottom: 20px;
}

.form-field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.form-label {
  display: block;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  padding-left: 42px;

  font: inherit;

  font-size: 16px;
  line-height: 1.71;

  color: var(--headers-text-color);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: border-color, color, transform;
  transition-duration: var(--time-transition);
  transition-timing-function: var(--function-transition);
}

.form-input:hover,
.form-input:focus {
  border-color: var(--accent-text-color);
  outline: transparent;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transition: var(--transition-standart);
}

/* ==== новій способ не работает hover === */

/* .form-field:focus-within > .form-icon {
  fill: var(--accent-text-color);
} */

/* === old school === */

.form-input:hover ~ .form-icon,
.form-input:focus ~ .form-icon {
  fill: var(--accent-text-color);
}

.form-field-comment {
  position: relative;
  display: block;
}

.form-comment {
  width: 100%;
  height: 120px;

  margin: 0;

  font: inherit;

  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding: 12px 16px;

  transition: var(--transition-standart);
}

.form-comment:hover,
.form-comment:focus {
  border-color: var(--accent-text-color);
  outline: transparent;
}

.form-comment-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  margin-bottom: 4px;
}

.form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);

  transition-property: color;
  transition: var(--transition-standart);
}

.form-comment:hover::placeholder {
  color: var(--headers-text-color);
}

.form-group-two {
  text-align: center;
}

.checkbox-label {
  position: relative;

  display: inline-block;

  margin-bottom: 30px;
}

.form-checkbox {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  /* === скрыть чек-бокс === */

  /*=== №1 appearance: none и вендорные префиксы ===*/

  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute; */

  /* === №2  .visually-hidden ==== */

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  /* ============================ */
}

.checkbox-icon {
  position: absolute;
  display: inline-block;

  width: 16px;
  height: 15px;

  top: 50%;
  left: 0;
  transform: translateY(-50%);

  border: 2px solid var(--headers-text-color);
  border-radius: 2px;

  transition-property: background-color;
  transition-duration: var(--time-transition);
  transition-timing-function: var(--function-transition);
  cursor: pointer;
}

.form-checkbox:checked + .checkbox-icon {
  background-color: #2196f3;
  background-image: url(../images/modal/icon-check.svg);

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  border-color: #2196f3;
}

.checkbox-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  padding-left: 23px;
}

.checkbox-text-link {
  /* text-decoration: none; */
  color: #2196f3;
}

.form-button {
  display: inline-block;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--button-text-color-one);

  background: var(--button-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition-property: background-color;
  transition-duration: var(--time-transition);
  transition-timing-function: var(--function-transition);
}

.form-button:hover,
.form-button:focus {
  background: var(--button-hover-color);
}

.form-checkbox {
  margin-bottom: 30px;
}

/* ================= PORTFOLIO ==================== */

/* ===== portfolio filters ===== */

.portfolio-filter-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.portfolio-filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--headers-text-color);

  background: #f5f4fa;

  padding: 6px 22px;

  transition-property: background-color, color, box-shadow;
  transition-duration: var(--time-transition);
  transition-timing-function: var(--function-transition);
}
.portfolio-filter-item:not(:last-of-type) {
  margin-right: 8px;
}

.portfolio-filter-button:hover,
.portfolio-filter-button:focus {
  background-color: var(--accent-text-color);
  color: #fff;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ===== portfolio section ===== */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-container {
  position: relative;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-container:nth-child(3n) {
  margin-right: 0;
}

.portfolio-container:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-link {
  display: block;

  transition-property: box-shadow;
  transition-duration: var(--time-transition);
  transition-timing-function: var(--function-transition);
}

.portfolio-overlay-box {
  position: relative;

  width: 100%;
  height: 294px;

  overflow: hidden;
}

.portfolio-overlay-text {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  display: flex;
  align-items: center;

  padding: 0 24px;

  width: 100%;
  height: 100%;

  background: rgba(33, 150, 243, 0.9);

  font-size: 18px;
  line-height: 1.56;

  color: var(--portfolio-overlay-text-color);

  transform: translateY(101%);
  opacity: 0;

  transition-property: opacity, transform;
  transition-duration: var(--time-transition);
  transition-timing-function: var(--function-transition);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link:hover .portfolio-overlay-text,
.portfolio-link:focus .portfolio-overlay-text {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--headers-text-color);

  margin-bottom: 4px;
}

.portfolio-about {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.portfolio-chapter {
  font-size: 16px;
  line-height: 1.88;

  color: var(--primary-text-color);
}
